<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Task5---数据预处理-(判定贷款用户是否逾期)" data-toc-modified-id="Task5---数据预处理-(判定贷款用户是否逾期)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Task5 - 数据预处理 (判定贷款用户是否逾期)</a></span><ul class="toc-item"><li><span><a href="#删除无用特征" data-toc-modified-id="删除无用特征-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>删除无用特征</a></span><ul class="toc-item"><li><span><a href="#属性值单一的特征" data-toc-modified-id="属性值单一的特征-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>属性值单一的特征</a></span></li><li><span><a href="#观测特征取值以及label意义,-是否和预测无关" data-toc-modified-id="观测特征取值以及label意义,-是否和预测无关-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>观测特征取值以及label意义, 是否和预测无关</a></span></li></ul></li><li><span><a href="#数据处理---数值型" data-toc-modified-id="数据处理---数值型-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>数据处理 - 数值型</a></span><ul class="toc-item"><li><span><a href="#缺失值处理" data-toc-modified-id="缺失值处理-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>缺失值处理</a></span><ul class="toc-item"><li><span><a href="#中位数填充" data-toc-modified-id="中位数填充-1.2.1.1"><span class="toc-item-num">1.2.1.1&nbsp;&nbsp;</span>中位数填充</a></span></li><li><span><a href="#其他填充缺失值的方法（待补充）" data-toc-modified-id="其他填充缺失值的方法（待补充）-1.2.1.2"><span class="toc-item-num">1.2.1.2&nbsp;&nbsp;</span>其他填充缺失值的方法（待补充）</a></span></li></ul></li><li><span><a href="#去掉取值变化小的特征" data-toc-modified-id="去掉取值变化小的特征-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>去掉取值变化小的特征</a></span></li><li><span><a href="#归一化" data-toc-modified-id="归一化-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>归一化</a></span></li></ul></li><li><span><a href="#数据处理---非数值型" data-toc-modified-id="数据处理---非数值型-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>数据处理 - 非数值型</a></span><ul class="toc-item"><li><span><a href="#类别特征---缺失值处理" data-toc-modified-id="类别特征---缺失值处理-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>类别特征 - 缺失值处理</a></span><ul class="toc-item"><li><span><a href="#单独填充为一个类别" data-toc-modified-id="单独填充为一个类别-1.3.1.1"><span class="toc-item-num">1.3.1.1&nbsp;&nbsp;</span>单独填充为一个类别</a></span></li><li><span><a href="#众数填充" data-toc-modified-id="众数填充-1.3.1.2"><span class="toc-item-num">1.3.1.2&nbsp;&nbsp;</span>众数填充</a></span></li></ul></li><li><span><a href="#类别特征---编码" data-toc-modified-id="类别特征---编码-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>类别特征 - 编码</a></span></li><li><span><a href="#时间/日期特征---处理(待完善)" data-toc-modified-id="时间/日期特征---处理(待完善)-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>时间/日期特征 - 处理(待完善)</a></span></li></ul></li><li><span><a href="#特征拼接" data-toc-modified-id="特征拼接-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>特征拼接</a></span></li></ul></li><li><span><a href="#遇到的问题" data-toc-modified-id="遇到的问题-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>遇到的问题</a></span></li><li><span><a href="#Reference" data-toc-modified-id="Reference-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Reference</a></span></li></ul></div>

# Task5 - 数据预处理 (判定贷款用户是否逾期)

给定金融数据，预测贷款用户是否会逾期。
（status是标签：0表示未逾期，1表示逾期。）

**Task1** - 构建逻辑回归模型进行预测（在构建部分数据需要进行缺失值处理和数据类型转换，如果不能处理，可以直接暴力删除）

**Task2** - 构建SVM和决策树模型进行预测

**Task3** - 构建xgboost和lightgbm模型进行预测

**Task4（模型评估）** - 记录五个模型关于accuracy、precision和recall、f1-score、auc的评分表格，画出roc曲线

**Task5（特征工程1）** - 数据类型转换, 无用特征删除, 缺失值处理（尝试不同的填充看效果）及数据探索

In [1]:
# 数据集预览
import pandas as pd
data = pd.read_csv('data.csv')
print(data.shape)
data.head()

(4754, 90)

,Unnamed: 0,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [2]:
y = data.status
X = data.drop('status', axis=1)

In [3]:
# 变量类型
set(X.dtypes)

{dtype('int64'), dtype('float64'), dtype('O')}

Q. 特征数目和行数相同, 肯定和预测无关吗？ 如果是属于类似连续型特征呢？

## 删除无用特征

### 属性值单一的特征

'bank_card_no','source'的取值**无区分度**

In [4]:
for col in X.columns:
    if len(X[col].unique()) == 1:
        print(col, X[col].unique())
        X.drop(col, axis = 1, inplace = True)

bank_card_no ['卡号1']
source ['xs']

### 观测特征取值以及label意义, 是否和预测无关

'Unnamed: 0', 'custid', 'trade_no'和id_name'**与预测无关**

In [5]:
for col in X.columns:
    cnt = X[col].count()    # 没有统计缺失值
    if len(list(X[col].unique())) in [cnt, cnt+1]:
        print(col)

Unnamed: 0
custid
trade_no

In [6]:
# X['Unnamed: 0']
# X['custid']
# X['trade_no]
# X['id_name'].value_counts()

In [7]:
X.drop(['Unnamed: 0', 'custid', 'trade_no', 'id_name'], axis=1, inplace=True)

## 数据处理 - 数值型

In [8]:
X_num = X.select_dtypes(exclude=['O']).copy()    # 不是复制视图, 所以加copy()

In [9]:
(X_num.describe().T
 .drop(['25%','50%','75%'],axis=1)
 .assign(missing_pct=data.apply(lambda x: (len(x)-x.count())/len(x)))).T

,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,trans_days_interval,regional_mobility,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
count,4752.000000,4752.000000,4754.000000,4751.000000,4752.000000,4752.000000,4752.000000,4746.000000,4752.000000,4752.000000,...,4457.000000,4457.000000,4457.000000,4457.000000,4457.000000,4457.000000,4457.000000,4457.000000,4450.000000,4457.000000
mean,0.021806,0.901294,1940.197728,14.160674,0.804411,0.365425,17.502946,29.029920,21.751263,2.678662,...,3390.038142,1820.357864,9187.009199,76.042630,4.732331,5.227507,16153.690823,8007.696881,24.112809,55.181512
std,0.041527,0.144856,3923.971494,694.180473,0.196920,0.170196,4.475616,22.722432,16.474916,0.890360,...,1474.206546,583.418291,7371.257043,14.536819,2.974596,3.409292,14301.037628,5679.418585,37.725724,53.486408
min,0.000000,0.000000,0.000000,0.000000,0.120000,0.033000,2.000000,0.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000,-2.000000
max,1.000000,1.000000,68000.000000,47596.740000,1.000000,0.941000,42.000000,285.000000,234.000000,5.000000,...,10000.000000,6900.000000,87100.000000,87.000000,18.000000,20.000000,266400.000000,82800.000000,360.000000,323.000000
missing_pct,0.000421,0.000421,0.000000,0.000631,0.000421,0.000421,0.000421,0.001683,0.000421,0.000421,...,0.062474,0.062474,0.062474,0.062474,0.062474,0.062474,0.062474,0.062474,0.063946,0.062474

> 观察**各属性名称和取值**, 从X_num里捡出类别特征'regional_mobility', 'student_feature','is_high_user' 和日期特征'first_transaction_time'

In [10]:
for col in X_num:
    cnt = len(X_num[col].unique())
    if cnt < 15:
        print(col, cnt, X_num[col].unique())

regional_mobility 6 [  3.   4.   1.   2.   5.  nan]
student_feature 3 [ nan   1.   2.]
is_high_user 2 [0 1]
avg_consume_less_12_valid_month 13 [  7.   5.   6.   8.   9.   3.   4.  11.  10.   0.   2.   1.  nan]
top_trans_count_last_1_month 9 [ 0.15  0.05  0.65  1.    0.1   0.3   0.4   0.2    nan]
railway_consume_count_last_12_month 7 [  0.   1.   2.   4.  nan   3.  30.]
jewelry_consume_count_last_6_month 8 [  0.   1.  nan   2.   6.   3.   4.   5.]

In [11]:
others = ['regional_mobility', 'student_feature','is_high_user', 'first_transaction_time']
X_num.drop(others, axis = 1, inplace = True)

### 缺失值处理

主要填充方法采用众数、中位数和模型填充等，**平均数一般不用的(均值受极端值影响太大)**。

In [12]:
# 统计各列缺失值的比例
col_missing = {}
for col in X_num.columns:
    summ = X_num[col].isnull().sum()
    if summ:
        col_missing[col] = float('%.4f'%(summ*100/len(data)))
    
col_missing = sorted(col_missing.items(), key = lambda d:-d[1])
for col, rate in col_missing[:10]:
    print(rate, '%', col)

8.9609 % cross_consume_count_last_1_month
6.3946 % apply_score
6.3946 % apply_credibility
6.3946 % query_org_count
6.3946 % query_finance_count
6.3946 % query_cash_count
6.3946 % query_sum_count
6.3946 % latest_one_month_apply
6.3946 % latest_three_month_apply
6.3946 % latest_six_month_apply

#### 中位数填充

缺失特征用**中位数**填充。

In [13]:
for col in X_num.columns:
    summ = X_num[col].isnull().sum()
    if summ:
        X_num[col].fillna(X_num[col].median(), inplace = True)

#### 其他填充缺失值的方法（待补充）

### 去掉取值变化小的特征

In [14]:
for col in X_num.columns:
    rate = X_num[col].std()
    if rate < 0.1:
        print(col, rate)
        X_num.drop(col, axis = 1, inplace = True)

low_volume_percent 0.04151908997545957
avg_price_top_last_12_valid_month 0.0993155786043876

### 归一化

> 归一化, 可以加快梯度下降求最优解的速度, 也有利于提高精度

In [15]:
# 最大最小归一化
X_num = X_num.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))

NameError: ("name 'np' is not defined", 'occurred at index middle_volume_percent')

## 数据处理 - 非数值型

In [16]:
X_str = X.select_dtypes(include=['O']).copy()    # 不是复制视图, 所以加copy()

In [17]:
X_str = pd.concat([X_str, X[others]], axis=1)

In [18]:
X_str.head()

,reg_preference_for_trad,latest_query_time,loans_latest_time,regional_mobility,student_feature,is_high_user,first_transaction_time
0,一线城市,2018-04-25,2018-04-19,3.0,NaN,0,20130817.0
1,一线城市,2018-05-03,2018-05-05,4.0,1.0,0,20160402.0
2,一线城市,2018-05-05,2018-05-01,1.0,NaN,0,20170617.0
3,三线城市,2018-05-05,2018-05-03,3.0,NaN,0,20130516.0
4,一线城市,2018-04-15,2018-01-07,1.0,NaN,0,20170312.0

In [19]:
dateFeatures = ['first_transaction_time', 'latest_query_time', 'loans_latest_time']

In [20]:
X_str.drop(dateFeatures, axis = 1, inplace = True)

In [21]:
X_str.describe().T\
    .assign(missing_pct=data.apply(lambda x : (len(x)-x.count())/len(x)))

,count,mean,std,min,25%,50%,75%,max,missing_pct
regional_mobility,4752.0,2.678662,0.890360,1.0,2.0,3.0,3.0,5.0,0.000421
student_feature,1756.0,1.001139,0.033739,1.0,1.0,1.0,1.0,2.0,0.630627
is_high_user,4754.0,0.011149,0.105007,0.0,0.0,0.0,0.0,1.0,0.000000

### 类别特征 - 缺失值处理

#### 单独填充为一个类别

student_feature 缺失占比一般以上, 且为类别特征. 所以将其缺失值**单独填充为1个类别**（用-1填充）。

In [22]:
X_str['student_feature'].value_counts()

1.0    1754
2.0       2
Name: student_feature, dtype: int64

In [23]:
X_str['student_feature'].fillna(-1, inplace = True)

In [24]:
X_str['student_feature'].value_counts()

-1.0    2998
 1.0    1754
 2.0       2
Name: student_feature, dtype: int64

#### 众数填充

缺失值数目较少, 考虑用众数或中位数填充

In [25]:
# 缺失值数目
X_str['regional_mobility'].isnull().sum()

2

In [26]:
X_str['regional_mobility'].value_counts()

3.0    1950
2.0    1515
4.0     802
1.0     446
5.0      39
Name: regional_mobility, dtype: int64

In [27]:
X_str['student_feature'].fillna(3, inplace = True)

### 类别特征 - 编码

In [28]:
dic = {}
for i, val in enumerate(list(data['reg_preference_for_trad'].unique())):
    dic[val] = i

data['reg_preference_for_trad'] = data['reg_preference_for_trad'].map(dic)

### 时间/日期特征 - 处理(待完善)

> 取出日期，可分别构建如 年、月、日、工作日、周数 等

In [29]:
X_date = X[dateFeatures]

In [30]:
X_date.head()

   first_transaction_time latest_query_time loans_latest_time
0              20130817.0        2018-04-25        2018-04-19
1              20160402.0        2018-05-03        2018-05-05
2              20170617.0        2018-05-05        2018-05-01
3              20130516.0        2018-05-05        2018-05-03
4              20170312.0        2018-04-15        2018-01-07

In [31]:
import warnings
warnings.filterwarnings("ignore")

X_date['first_transaction_time'].fillna(X_date['first_transaction_time'].median(), inplace = True)

In [32]:
X_date['first_transaction_time'] = X_date['first_transaction_time'].apply(lambda x:str(x)[:4] + '-' + str(x)[4:6] + '-' + str(x)[6:8])

In [33]:
X_date['first_transaction_time_month'] = pd.to_datetime(X_date['first_transaction_time']).dt.month
X_date['first_transaction_time_weekday'] = pd.to_datetime(X_date['first_transaction_time']).dt.weekday

X_date['latest_query_time_month'] = pd.to_datetime(X_date['latest_query_time']).dt.month
X_date['latest_query_time_weekday'] = pd.to_datetime(X_date['latest_query_time']).dt.weekday

X_date['loans_latest_time_month'] = pd.to_datetime(X_date['loans_latest_time']).dt.month
X_date['loans_latest_time_weekday'] = pd.to_datetime(X_date['loans_latest_time']).dt.weekday

In [34]:
X_date.drop(dateFeatures, axis = 1, inplace=True)

## 特征拼接

In [35]:
X = pd.concat([X_num, X_str, X_date], axis=1)

In [37]:
X.shape

(4754, 84)

# 遇到的问题

> 特征数目和行数相同, 肯定和预测无关吗？ 如果是属于类似连续型特征呢？

# Reference

1）[特征工程处理](http://cking0821.club/2018/05/31/%E7%89%B9%E5%BE%81%E5%B7%A5%E7%A8%8B%E5%A4%84%E7%90%86/)

2）[数据分析工具之Python大法（一）](https://zhuanlan.zhihu.com/p/21401793)